<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" href="/css/styles.css" />

</head>
<body onload="loadJson()">

	<div class="tab">
		<ul>
			<li><a href="/welcome" id='menu.topMenu.home'></a></li>
			<li><a href="/adminscreen">Admin</a></li>

			<li style="float: right"><a id='quit' href="#"></a></li>
			<li style="float: right"><a id='menu.topMenu.index' href="#"></a></li>
			<li style="float: right"><a id='help' href="#"></a></li>
		</ul>
	</div>


	<div class="error" id="error">
		<p style="color: red" th:text="${translationForm.error}" />
	</div>
	<div class="container">

		<div class="starter-template" align="right">
			<span style="color: blue" id="login.user"></span> <span
				style="color: blue" th:text="${session.user}"></span>
			<!--  <span style="color: red" id="login.pass"></span> -->
		</div>
		<header>
			<h1 id="title" style="color: white"></h1>
		</header>
		<table>
			<tr>
				<td>
					<nav>
						<ul>
							<li id="welcomeli"><a id="menu.secondaryMenu.left.riddles"></a></li>
							<li><a id="menu.secondaryMenu.left.jokes"></a></li>
							<li><a id="menu.secondaryMenu.left.puns"></a></li>
						</ul>
					</nav>
				</td>
				<td width="90%">
					<article>
						<h2 id="home.greeting.title"></h2>
						<p id="home.greeting.description"></p>
						<p id="about"></p>
					</article>
				</td>
				<td>
					<nav>
						<ul>
							<li><a id="menu.secondaryMenu.right.quotes"></a></li>
							<li><a id="menu.secondaryMenu.right.sayings"></a></li>
							<li><a id="menu.secondaryMenu.right.proverbs"></a></li>
						</ul>
					</nav>
				</td>
			</tr>
		</table>

		<div class="starter-template" align="center">
			<table>
				<tr>
					<td><a id="menu.bottomMenu.facebook" href="#"></a></td>
					<td><a id="menu.bottomMenu.twitter" href="#"></a></td>
					<td><a id="menu.bottomMenu.instagram" href="#"></a></td>
					<td><a id="siteMap.index" href="#"></a></td>
					<td><a id="siteMap.directory" href="#"></a></td>
				</tr>
			</table>
		</div>
		<footer>
			<span id="home.footer.createdBy"></span>&copy; <span
				id="copyright.message"></span> <span id="copyright.year"></span>
		</footer>

	</div>
	<!-- /.container -->

	<script th:inline="javascript">
/*<![CDATA[*/

var message;
mymessage = [[${translationForm.translationJson}]];
message = JSON.stringify(mymessage);
message = {"title":"Lost in Translation","login":{"user":"111","pass":"Password"},"home":{"greeting":{"title":"Welcome to my Webpage!","description":"This page is available in a variety of languages."},"footer":{"createdBy":"Created by Bob Harris"}},"copyright":{"message":"All Rights Reserved","year":"2016"},"menu":{"topMenu":{"home":"Home","index":"Index"},"secondaryMenu":{"left":{"riddles":"Riddles","jokes":"Jokes","puns":"Puns"},"right":{"quotes":"Famous Quotes","sayings":"Sayings","proverbs":"Proverbs"}},"bottomMenu":{"facebook":"Facebook","twitter":"Twitter","instagram":"Instagram"}},"quit":"Quit","help":"Help","about":"This website was created entirely out of thin air.","siteMap":{"index":"Index","directory":"Directory"}}
document.getElementById("title").innerHTML = message.title;
document.getElementById("login.user").innerHTML = message.login.user;
//document.getElementById("login.pass").innerHTML = message.login.pass;
document.getElementById("home.greeting.title").innerHTML = message.home.greeting.title;
document.getElementById("home.greeting.description").innerHTML = message.home.greeting.description;
document.getElementById("home.footer.createdBy").innerHTML = message.home.footer.createdBy;
document.getElementById("copyright.message").innerHTML = message.copyright.message
document.getElementById("copyright.year").innerHTML = message.copyright.year;
document.getElementById("menu.topMenu.home").innerHTML = message.menu.topMenu.home;
document.getElementById("menu.topMenu.index").innerHTML = message.menu.topMenu.index;
document.getElementById("menu.secondaryMenu.left.riddles").innerHTML = message.menu.secondaryMenu.left.riddles;
document.getElementById("menu.secondaryMenu.left.jokes").innerHTML = message.menu.secondaryMenu.left.jokes;
document.getElementById("menu.secondaryMenu.left.puns").innerHTML = message.menu.secondaryMenu.left.puns;
document.getElementById("menu.secondaryMenu.right.quotes").innerHTML = message.menu.secondaryMenu.right.quotes;
document.getElementById("menu.secondaryMenu.right.sayings").innerHTML = message.menu.secondaryMenu.right.sayings;
document.getElementById("menu.secondaryMenu.right.proverbs").innerHTML = message.menu.secondaryMenu.right.proverbs;
document.getElementById("menu.bottomMenu.facebook").innerHTML = message.menu.bottomMenu.facebook;
document.getElementById("menu.bottomMenu.twitter").innerHTML = message.menu.bottomMenu.twitter;
document.getElementById("menu.bottomMenu.instagram").innerHTML = message.menu.bottomMenu.instagram;
document.getElementById("quit").innerHTML = message.quit;
document.getElementById("help").innerHTML = message.help;
document.getElementById("about").innerHTML = message.about;
document.getElementById("siteMap.index").innerHTML = message.siteMap.index;
document.getElementById("siteMap.directory").innerHTML = message.siteMap.directory;
/*]]>*/
</script>
</body>

</html>
